<footer>
  <!-- As a link -->
  <nav class="navbar navbar-light bg-dark fixed-bottom">
    <div class="row">
      <div class="col col-xs-12">
        <h8 style="color: white ;">Navya Biju Jose</h8>
      </div>
      <div class="col col-xs-12">
        <h8 style="color: powderblue;">navyabiju717@gmail.com</h8>
      </div>

    </div>
  </nav>

</footer>

<!-- Scripts -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/appclient.js"></script>
</body>

</html>