<footer>
  <!-- As a link -->
  <nav class="navbar navbar-light bg-dark fixed-bottom">
    <div class="row">
      <div class="col col-xs-12">
        <h4 style="color: white ;">Vimal Jose Mathew</h4>
        
      </div>

    </div>
  </nav>

</footer>

<!-- Scripts -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/appclient.js"></script>
</body>

</html>