<%- include partials/header -%>
    <div class="jumbotron jumbotron-fluid bg-white " style="margin: 0%; padding:3%">
        <div class="row text-dark">
            <div class="col col-xs-12 col-md-6 pl-5 pt-5 mt-5">
                <div class="container">
                    <h1 class="display-4" style="color:rgb(123, 184, 182);">Navya Biju Jose</h1>
                    <p class="lead">I'm currently enrolled at Centennial college in Health Informatics Technology
                        program. I was born and raised in Kerala, India.

                        I did Bachelors in computer science and engineering and worked as a programmer analyst in a
                        multinational company for about one and half years.

                        I love music and travelling. I believe learning a new hobby gives you a new perspective to
                        everything.</p>
                </div>
                <div class="col col-xs-12 col-md-4 mr-4">
                    <a  class="btn btn-success" href="/images/myresume.pdf">Resume</a>
                </div>
            </div>
            <div class="col col-xs-12 col-md-6 pr-1 mt-5">
                <div class="container">
                    <img src="/images/myimage.png" width="410" height="440" style="border-radius:50%;">
                </div>
            </div>

        </div>

    </div>


    <%- include partials/footer -%>