<%- include partials/header -%>
    <div class="container-fluid" style="background-color:rgb(22, 30, 28); margin: 0%; padding: 0%;">
        <div class="row " style="padding: 3%; margin-left: 4%;">
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/ecommerce.jpg" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ecommerce App </h5>
                        <p class="card-text">An Ecommerce app designed using MERN stack technology,which helps in 
                            financial transactions of restaurant.</p>                       
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 ">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/dataverification.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Data Verification tool</h5>
                        <p class="card-text">
                            A data verification tool using python which verifies expected output and output produced 
                            and generate report in excel format. 
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem;height: 30rem; ">
                    <img class="card-img-top" src="/images/todolist.jpg" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">To Do list using React</h5>
                        <p class="card-text">A todo List, where user can add and remove pending tasks using 
                            React and Redux framework.</p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <%- include partials/footer -%>