<%- include partials/header -%>
    <div class="container-fluid" style="background-color:rgb(22, 30, 28); margin: 0%; padding: 0%;">
        <div class="row " style="padding: 5%; margin-left: 4%;">
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/nowyouseemeimage.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Real Time Guide For Blind</h5>
                        <p class="card-text">Designed and implemented a real time guide (wearable belt) to alert
                            obstacles in advance to the visually impaired.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 ">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/project2.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">TruProvider</h5>
                        <p class="card-text">
                            Designed, documented and implemented the application that lets the health
                            providers and organization access and store medical information.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem;height: 30rem; ">
                    <img class="card-img-top" src="/images/bikepal.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Bike Pal App</h5>
                        <p class="card-text">Designed Bike pal application to track routes and manage multimedia.</p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <%- include partials/footer -%>