<%- include partials/header -%>
    <div class="container-fluid" style="background-color:rgb(15, 40, 54); margin: 0%; padding: 0%;">
        <div class="row " style="padding: 5%; margin-left: 4%;">
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/web.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Experienced in modern web app development using javascript, html and css</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 ">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="/images/software.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text">
                            Experienced in debugging,unit testing and development using knockout.js and Jquery 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card" style="width: 18rem;height: 30rem; ">
                    <img class="card-img-top" src="/images/database.png" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">Database Development</h5>
                        <p class="card-text">Experienced in designing relational and non relational databases using Liquibase script,SQL and mongodb.</p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <%- include partials/footer -%>